button {
  display: inline-block;
  height: 53px;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 7px;
  outline: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: hsl(278, 68%, 11%);
}
