.cardsBox {
  width: 343px;
  height: 251px;
  margin-top: 32px;
  margin-bottom: 49px;
  &__card1 {
    left: 0;
    bottom: 0;
    width: 286px;
    height: 157px;
    z-index: 5;
    .card1Image {
      width: 286px;
    }
    .card1data {
      width: 286px;
      height: 157px;
      padding: 18px;
      padding-right: 20px;
      padding-left: 21px;
      img {
        width: 54px;
        margin-bottom: 33px;
      }
      .cardNumber {
        font-size: 17px;
        span {
          margin-right: 8px;
        }
      }
      .box {
        p {
          font-size: 10px;
          font-weight: 300;
          letter-spacing: 0.07em;
        }
        .expDate {
          font-size: 9px;
          font-weight: 300;
          letter-spacing: 0.15em;
        }
      }
    }
  }
  &__card2 {
    top: 0;
    right: 0;
    width: 286px;
    height: 157px;
    .card2Image {
      width: 286px;
    }
    .card2data {
      top: 70px;
      left: 229px;
      width: 286px;
      height: 157px;
      font-size: 9px;
      letter-spacing: 1px;
    }
  }
}
